.card-wrap {
  margin-top: 50px;
  text-align: center;
}
.card {
  vertical-align: middle;
}
.table {
  margin-top: 30px;
}
.card__btn {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  border: none;
  background: rgb(199, 83, 15);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: .3s;
}
.card__btn:active {
  background: rgb(221, 95, 23);
}
